@use "../common";

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes dock-fade-in {
    0% {
        opacity: 0.0000001;
    }

    66% {
        opacity: 0.0000001;
    }

    100% {
        opacity: 1;
    }
}

window.DockBackground {
    background: transparent;
    color: common.$fg-color;
    font-family: common.$font;
    font-weight: 300;
    font-size: 16px;
    // animation: dock-fade-in 1.5s linear;

    main {
        border-radius: 12px;
        padding-bottom: 8px;
    }

    main-inner {
        @include common.glassy-background;
        box-shadow: none;
        border-radius: 12px;
        // this is needed otherwise we get 'Failed to flush Wayland connection' error
        min-width: 1px;
    }
}

window.DockForeground {
    background: transparent;
    color: common.$fg-color;
    font-family: common.$font;
    font-weight: 300;
    font-size: 16px;
    // animation: dock-fade-in 1.5s linear;

    main {
        border-radius: 12px;
        padding-bottom: 8px;
    }
    
    main-inner, .dock-gloss {
        @include common.glassy-background;
        background: transparent;
        border-radius: 12px;
        padding: 0 8px;
    }

    main-inner {
        box-shadow: none;
        padding: 0 8px;

        .dock-gloss {
            background-color: transparent;
            margin: 0 -8px;
        }

        .dock-item {
            margin: 0;
            padding: 0;
            background: transparent;

            .squircle,
            .squircle-danger {
                opacity: 0;
                transition: opacity 0.2s ease;
            }

            &.opening .icon-image {
                animation: wiggle linear 0.5s 3;
            }

            & > button {
                padding: 0;
                background: transparent;

                &:hover {
                    .squircle {
                        opacity: 0.5;
                    }
                }

                &:checked,
                &:active {
                    .squircle {
                        opacity: 0.75;
                    }
                }
            }

            &.active {
                > .squircle {
                    opacity: 1;
                }

                > button {
                    .squircle {
                        opacity: 1;
                    }
                }
            }
        }

        .notif-count {
            background-color: common.$accent-2;
            margin: 0 0 0;
            padding: 0 8px 1px 8px;
            font-weight: 600;
            border-radius: 5px;
            font-size: 14px;
            box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
        }

        .search-icon {
            padding: 0;
            background: none;

            .squircle {
                opacity: 1;
                filter: brightness(1.1);
                transition: filter 0.4s ease;
            }

            &:hover {
                .squircle {
                    opacity: 1;
                    filter: brightness(1.4);
                }
            }
        }

        separator {
            // background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
