@use "../common.scss";

.display-clock-calendar-container {
    @include common.glassy-background;
    border-radius: common.$background-panel-border-radius;

    .display-clock-calendar {
        color: rgba(255, 255, 255, 0.7);
        font-family: "Ode to Idle Gaming";
        margin-top: -20px;

        .clock-time {
            font-size: 154px;

            .clock-time-hours {
                color: rgba(common.$accent-2-rgb, 0.7);
            }
        }

        .clock-date {
            font-size: 60px;
            margin-top: -56px;

            .clock-date-month {
                color: rgba(common.$accent-2-rgb, 0.7);
            }
        }
    }
}
