.display-clock {
    font-family: Bebas Neue;
    font-weight: 600;
    font-size: 200px;

    .hour,
    .minute {
        label {
            padding-top: 12px;
            border-radius: 12px;
            background: linear-gradient(
                    to bottom,
                    transparent 0%,
                    transparent 49%,
                    rgba(255, 255, 255, 0.05) 50%,
                    transparent 51%
                ),
                linear-gradient(
                    to bottom,
                    transparent 0%,
                    transparent calc(50% - 1px),
                    rgba(255, 255, 255, 0.05) 50%,
                    transparent calc(50% + 1px)
                ),
                linear-gradient(to bottom, rgba(35, 35, 35, 0.7), rgba(35, 35, 35, 0.7));
            min-width: 148px;
            box-shadow: inset 0 0 1px 3px rgba(255, 255, 255, 0.15), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
        }
    }
}

.display-calendar {
    font-family: Bebas Neue;
    font-weight: 600;

    .month {
        padding-top: 18px;
        border-radius: 12px;
        line-height: 0.85;
        background-color: rgba(255, 34, 0, 0.8);
        color: #fff;
        font-size: 150px;
        box-shadow: inset 0 0 1px 3px rgba(255, 255, 255, 0.15), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    }

    .day {
        border-radius: 12px;
        background-color: rgba(230, 230, 230, 0.8);
        font-size: 300px;
        line-height: 0.75;
        padding-top: 40px;
        color: #222;
        box-shadow: inset 0 0 1px 3px rgba(255, 255, 255, 0.15), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    }
}
