@use "../common";

.notif-bar-item {
    padding: 24px;
    box-shadow: inset 0 0 3px 0 rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;

    image {
        -gtk-icon-size: 32px;
        margin: 0 18px 0 8px;
    }

    .title {
        font-size: 18px;
        font-weight: 600;
    }

    .date {
        font-size: 13px;
        font-weight: 500;
        margin-left: 24px;
    }

    .body {
        padding: 8px 0 18px 0;
        font-size: 16px;
    }

    .action-button {
        @include common.glassy-chip-button;
        font-size: 15px;
        font-weight: 500;
        margin: 0;
    }
}

.notif-bar-button {
    .notif-bar-items {
        .notif-bar-item {
            border-radius: 0;
            box-shadow: none;
            background: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 24px;

            image {
                -gtk-icon-size: 32px;
                margin: 0 18px 0 0;
            }
        }
    }
}

window.NewNotification {
    border-radius: 18px;
    background: none;
    margin: 0 -4px 0 0;
    padding: 8px;

    > box {
        border-radius: 18px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);

        .notif-bar-item {
            @include common.glassy-background-dark;
            box-shadow: inset 0 0 1px 3.5px rgba(255, 255, 255, 0.07), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
            padding: 24px 24px 24px 18px;
        }
    }
}
