@use "../common";

.finance {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);

    .ticker {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .change {
        border-radius: 8px;
        padding: 12px;
        box-shadow: inset 0 0 4px 1px rgba(255, 255, 255, 0.15), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        font-weight: 600;

        &.positive {
            background: rgb(66, 128, 0);
        }

        &.negative {
            background: rgb(158, 37, 0);
        }
    }

    .page-selector {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .page-selector button,
    .stock-item {
        border-radius: 0;
        font-weight: 500;
        padding: 12px 0;

        &:not(:hover):not(:active):not(:checked) {
            background-color: transparent;
        }
    }

    .stock-item {
        padding: 24px;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        &:not(:hover):not(:active):not(:checked) {
            background-color: transparent;
        }

        &:not(:hover):not(:active):checked {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    .gloss {
        border-radius: 12px;
        box-shadow: inset 0 0 1px 3px rgba(255, 255, 255, 0.04), inset 0 0 0 1px rgba(255, 255, 255, 0.11);
        border: none;
    }

    .graph-container {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .graph {
            margin: 24px;
            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
                linear-gradient(
                    0deg,
                    transparent 9%,
                    rgba(255, 255, 255, 0.2) 10%,
                    rgba(255, 255, 255, 0.2) 12%,
                    transparent 13%,
                    transparent 29%,
                    rgba(255, 255, 255, 0.1) 30%,
                    rgba(255, 255, 255, 0.1) 31%,
                    transparent 32%,
                    transparent 49%,
                    rgba(255, 255, 255, 0.1) 50%,
                    rgba(255, 255, 255, 0.1) 51%,
                    transparent 52%,
                    transparent 69%,
                    rgba(255, 255, 255, 0.1) 70%,
                    rgba(255, 255, 255, 0.1) 71%,
                    transparent 72%,
                    transparent 89%,
                    rgba(255, 255, 255, 0.1) 90%,
                    rgba(255, 255, 255, 0.1) 91%,
                    transparent 92%,
                    transparent
                ),
                linear-gradient(
                    90deg,
                    transparent 9%,
                    rgba(255, 255, 255, 0.2) 10%,
                    rgba(255, 255, 255, 0.2) 12%,
                    transparent 13%,
                    transparent 29%,
                    rgba(255, 255, 255, 0.1) 30%,
                    rgba(255, 255, 255, 0.1) 31%,
                    transparent 32%,
                    transparent 49%,
                    rgba(255, 255, 255, 0.1) 50%,
                    rgba(255, 255, 255, 0.1) 51%,
                    transparent 52%,
                    transparent 69%,
                    rgba(255, 255, 255, 0.1) 70%,
                    rgba(255, 255, 255, 0.1) 71%,
                    transparent 72%,
                    transparent 89%,
                    rgba(255, 255, 255, 0.1) 90%,
                    rgba(255, 255, 255, 0.1) 91%,
                    transparent 92%,
                    transparent
                );
            background-size: 50px 50px;
            box-shadow: inset 0 0 1px 3px rgba(255, 255, 255, 0.04), inset 0 0 0 1px rgba(255, 255, 255, 0.11);
            border-radius: 12px;
        }
    }
}
