@use "../common";

.workspace-switcher {
    border-radius: 0;
    padding: 0 1px;

    button {
        padding: 0;
        border-radius: 0;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid rgba(255, 255, 255, 0.05);
        margin: -1px; // to collapse borders
        background-color: transparent;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.15);
        }

        &.active {
            background-color: rgba(common.$accent-1-rgb, 0.7);
        }
    }
}

.workspace-switcher-border-l {
    margin: 0 -1px 0 6px;
    min-width: 1px;
    background: rgba(255, 255, 255, 0.05);
}

.workspace-switcher-border-r {
    margin: 0 6px 0 -1px;
    min-width: 1px;
    background: rgba(255, 255, 255, 0.05);
}
