@use "../common";

window.VolumeChange {
    border-radius: 24px;
    background: transparent;
    margin: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    padding: 0;

    main-inner {
        border-radius: 24px;
        @include common.glassy-background-dark;
        box-shadow: inset 0 0 1px 3.5px rgba(255, 255, 255, 0.07), inset 0 0 0 1px rgba(255, 255, 255, 0.15);

        .current-volume {
            padding: 36px 48px;
            font-size: 28px;
            font-weight: 500;

            image {
                margin-right: 24px;
                -gtk-icon-size: 32px;
            }

            .volume {
                margin-left: 12px;
                min-width: 70px;
            }
        }
    }
}
