@use "../common";

window.Shutdown {
    background: rgba(0, 0, 0, 0.6);

    .shutdown-label {
        font-size: 36px;
    }

    .session-buttons-container {
        button.shutdown-button {
            border-radius: 24px;
            min-width: 160px;
            min-height: 160px;
            padding: 0;
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
            background: transparent;

            > * {
                @include common.glassy-background-dark;
                box-shadow: inset 0 0 1px 4px rgba(255, 255, 255, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
                border-radius: 24px;
                background: rgba(20, 20, 20, 0.8);
                transition: all 0.2s ease;

                &:hover {
                    background: rgba(30, 30, 30, 0.8);
                }

                &:active {
                    background: rgba(40, 40, 40, 0.8);
                }

                label {
                    font-size: 16px;
                    font-weight: 400;
                    opacity: 0.5;
                }
            }
        }

        box:last-child > button.shutdown-button:last-child {
            background-color: rgba(255, 0, 20, 0.4);

            &:hover {
                background-color: rgba(255, 0, 20, 0.6);
            }

            &:active {
                background-color: rgba(255, 0, 20, 0.8);
            }
        }
    }
}
