@use "../common";

menubutton.mpd {
    .mpd-album-button,
    .mpd-album-thumb {
        border-radius: 12px;
        padding: 0;
        margin: 0;

        .title {
            font-size: 16px;
            font-weight: 500;
            padding: 8px 8px 0 8px;
        }

        .artist {
            font-size: 14px;
            font-weight: 400;
            opacity: 0.6;
            padding: 0 8px 8px 8px;
        }
    }

    .mpd-album-thumb {
        background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 12px 12px 0 0;
    }

    .mpd-album-gloss {
        box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        background: transparent;
        transition: background 0.1s ease;
    }

    .mpd-flow-box {
        padding: 24px 24px 0 24px;

        flowboxchild {
            padding: 0;
        }

        button {
            background-color: rgba(196, 196, 196, 0.1);

            &:hover .mpd-album-gloss {
                background: rgba(255, 255, 255, 0.1);
            }

            &:active .mpd-album-gloss {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

    .popover-control-list {
        .mpd-album-title-box {
            .title {
                font-size: 20px;
                font-weight: 500;
            }

            .artist {
                font-size: 18px;
                font-weight: 400;
                opacity: 0.6;
            }

            .mpd-album-thumb,
            .mpd-album-gloss {
                border-radius: 12px;
            }
        }

        .mpd-song-button.popover-control-list-item {
            .title {
                font-size: 16px;
                font-weight: 400;
            }

            .artist {
                font-size: 14px;
                opacity: 0.6;
                margin-top: 4px;
            }

            .track {
                padding-right: 24px;
            }

            .time {
                font-size: 14px;
                font-weight: 400;
                opacity: 0.6;
                padding-left: 12px;
            }

            &.current {
                background-color: rgba(common.$accent-2-rgb, 0.2);

                &:hover {
                    background-color: rgba(common.$accent-2-rgb, 0.4);
                }

                &:active {
                    background-color: rgba(common.$accent-2-rgb, 0.5);
                }
            }

            &.current + .popover-control-list-item {
                border-top: 1px solid lighter(rgba(common.$accent-2-rgb, 0.27));
            }

            &.current:hover + .popover-control-list-item {
                border-top: 1px solid lighter(rgba(common.$accent-2-rgb, 0.38));
            }

            &.current:active + .popover-control-list-item {
                border-top: 1px solid lighter(rgba(common.$accent-2-rgb, 0.42));
            }
        }
    }
}
