@use "common";
@use "base";
@use "appearance_settings/appearance_settings_style";
@use "audio/audio_style";
@use "background_visualizer/background_visualizer_style";
@use "bar/bar_style";
@use "calendar/calendar_style";
@use "display_clock/display_clock_style";
@use "dock/dock_style";
@use "game_launcher/game_launcher_style";
@use "finance/finance_style";
@use "media/media_style";
@use "mpd/mpd_style";
@use "news/news_style";
@use "notes/notes_style";
@use "notifications/notifications_style";
@use "shutdown/shutdown_style";
@use "trash/trash_style";
@use "weather/weather_style";
@use "workspace_switcher/workspace_switcher_style";
