.game-launcher-flow-box {
    padding: 24px 24px 0 24px;

    flowboxchild {
        padding: 0;
    }

    .game-launcher-button,
    .game-launcher-thumb {
        background-size: cover;
        border-radius: 12px;
        padding: 0;
        margin: 0;
    }

    .game-launcher-thumb-gloss {
        box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.2);
        border-radius: 12px;

        background: transparent;
        transition: background 0.1s ease;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        &:active {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}
